<div id="app" class="container container-fluid jumbotron" xmlns:v-on="http://www.w3.org/1999/xhtml">
   <a href="/counter">
    <button class="btn btn-success btn-lrg">Start Counter</button>
   </a>

</div>

<style>
  .container {
    text-align: center;
    margin-top: 30pt;
    width: 300pt;
  }

  .btn-lrg {
    font-size: 20pt;
    font-weight: bold;
  }

</style>
