<!--<div id="app" class="container container-fluid jumbotron" xmlns:v-on="http://www.w3.org/1999/xhtml">
   <a href="/counter">
    <button class="btn btn-success btn-lrg">Start Counter</button>
   </a>

</div>-->

<div class="container">
  <div class="jumbotron">
    <h2>Welcome!</h2>
    <a href="/user/signin" class="btn btn-lg btn-success">Log In</a>
    <br />
    <a href="/user/new" class="link">Don't have an account yet?</a>
  </div>
</div>

<style>
  .container {
    text-align: center;
    margin-top: 30pt;
    width: 300pt;
  }

  .link {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
  }

  .btn {
    margin: 10%;
  }

</style>
