.form-signin {
  max-width: 30%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
  background-color: #d8d8d8; /*light gray*/
  border: 1px solid #339708;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.form-signin h2 {
  text-align: center;
  margin-top: 0;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.warning {
  text-align: center;
  color: #c00000;
  font-weight: bold;
  font-style: italic;
}


